@import "article";

/**********************************
On-load Animations
**********************************/

.slide-on-load {
  animation: slide_on_load 1s cubic-bezier(0.79, 0.14, 0.15, 0.86);

  @keyframes slide_on_load {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

/**********************************
Article Header
**********************************/

.article__cover-image {
  height: 512px;
}

/**********************************
Article Body
**********************************/

article {
  .article__body {
    padding: 1em;
    margin: 1em 0 1em 0;
    background: $white;
  }

  // Article Information Footer

  .article__info {
    display: flex;
    justify-content: space-between;
    .article__pub,
    .article__tag {
      display: block;
    }
    .article__tags {
      margin: 0.5em 0 0.5em 0;
    }
  }

  // Recommendations
  .recs {
    margin-top: 2em;
    padding-bottom: 48px;

    .card {
      a {
        color: $dark;
      }

      .card-image {
        overflow: hidden;
        img {
          object-fit: cover;
          height: auto;
        }
      }
    }
  }
}

// Sidebar
.sidebar__wrapper {
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  padding-top: 1.5em;

  .sidebar__widgets {
    margin-bottom: 24px;
  }

  .side_widget {
    font-size: 12px;
  }

  a {
    color: $dark;
  }
}

.share__wrapper {
  display: flex;
  justify-content: space-between;

  img {
    height: 24px;
  }
}

// Carbon Ads
#carbonads {
  width: 100%;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;

  img {
    width: 100% !important;
    max-width: 100% !important;
  }
  margin-bottom: 8px;
  line-height: 1;
}

.carbon-text {
  margin-bottom: 8px;
  display: block;
  color: #637381;
}

.carbon-poweredby {
  text-transform: uppercase;
  display: block;
  font-size: 8px;
  letter-spacing: 1px;
  line-height: 1;
}
