@import "base";

/**********************************
Feed Header
**********************************/

.feed__cover--medium,
.feed__cover--large {
    background: radial-gradient(circle, #485563, #485563 1px, #29323c 1px, #29323c);
    background-size: 32px 32px;
    width: 100%;
    position: absolute;
    top: 0;
}

.tag:not(body).is-delete {
    transition-duration: 200ms;
}

.tag:not(body).is-delete::after,
.tag:not(body).is-delete::before {
    color: $dark;
}

/**********************************
Feed Content
**********************************/

.subtitle.article__detail,
.stats {
    font-family: $family-code;
}

.stats .icon {
    position: relative;
    top: 2px;
    margin-right: 4px;

    &:not(:nth-child(1)) {
        margin-left: 14px;
    }
}