{% extends "base.html" %}
{% block content %}
{% load static %}
{% load thumbnail %}
{% load markdownify %}

<div class="article__contents">
    <div class="article__cover-image">
        <picture>
            {% thumbnail article.image "1920x960" format="WEBP" as webp %}
            <source data-srcset="{{ webp.url }}" type="image/webp" media="(min-width: 1024px)">
            {% endthumbnail %}
            {% thumbnail article.image "1920x960" format="JPEG" as jpeg %}
            <source data-srcset="{{ jpeg.url }}" type="image/jpeg" media="(min-width: 1024px)">
            {% endthumbnail %}
            {% thumbnail article.image "1024x512" format="WEBP" as webp %}
            <source data-srcset="{{ webp.url }}" type="image/webp" media="(max-width: 1024px)">
            {% endthumbnail %}
            {% thumbnail article.image "1024x512" format="JPEG" as jpeg %}
            <source data-srcset="{{ jpeg.url }}" type="image/jpeg" media="(max-width: 1024px)">
            {% endthumbnail %}
            {% thumbnail article.image "128x64" format="JPEG" as jpeg %}
            <source srcset="{{ jpeg.url }}" type="image/jpeg">
            {% endthumbnail %}
            <img class="lazyload blur-up--cover" alt="{{ title }}">
        </picture>
    </div>
    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {{ title }}
                </h1>
                <h2 class="subtitle article__detail">
                    Ari Birnbaum — {{ article.published }}
                </h2>
            </div>
        </div>
    </section>
    <section class="container slide-on-load">
        <div class="columns is-centered article__body is-desktop box">
            <article class="column is-8-desktop is-medium">
                <div class="article__contents">
                    {{ article.body | markdown | safe }}
                </div>
                <br>
                <p class="title is-6">Written By</p>
                <div class="media">
                    <div class="media-left">
                        <figure class="image avatar">
                            <picture>
                                {% thumbnail avatar "64x64" format="WEBP" as webp %}
                                <source srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail avatar "64x64" format="JPEG" as jpeg %}
                                <source srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img class="is-rounded" alt="Ari Birnbaum">
                            </picture>
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">Ari Birnbaum</p>
                        <p class="subtitle is-5 article__detail"><a
                                href="mailto:contact@ceiphr.com">contact@ceiphr.com</a></p>
                    </div>
                </div>
                <div class="content">
                    This article is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                        <svg class="cc__icon icon is-small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            width="24px" height="24px">
                            <path
                                d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M8.5,14c0.328,0,0.639-0.104,0.899-0.299 l1.202,1.598C9.992,15.758,9.265,16,8.5,16C6.57,16,5,14.43,5,12.5v-1C5,9.57,6.57,8,8.5,8c0.765,0,1.492,0.242,2.101,0.701 l-1.202,1.598C9.139,10.104,8.828,10,8.5,10C7.673,10,7,10.673,7,11.5v1C7,13.327,7.673,14,8.5,14z M16.5,14 c0.328,0,0.639-0.104,0.899-0.299l1.202,1.598C17.992,15.758,17.265,16,16.5,16c-1.93,0-3.5-1.57-3.5-3.5v-1C13,9.57,14.57,8,16.5,8 c0.765,0,1.492,0.242,2.101,0.701l-1.202,1.598C17.139,10.104,16.828,10,16.5,10c-0.827,0-1.5,0.673-1.5,1.5v1 C15,13.327,15.673,14,16.5,14z" />
                        </svg>
                        Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a>.
                    You may redistribute this article if you follow the terms of the license.
                    <br>
                    <hr>
                    <div class="article__info">
                        <div class="article__pub">
                            Published on <time datetime="{{ article.published }}">{{ article.published }}</time>
                            {% if article.published != article.modified %}
                            <br>
                            <i>Last modified on <time
                                    datetime="{{ article.modified }}">{{ article.modified }}</time></i>
                            {% else %}
                            <br>
                            <i>Article unmodified since published</i>
                            {% endif %}
                            <br>
                        </div>
                        <div class="article__tags tags is-pulled-right-desktop">
                            {% for tag in tags %}
                            <a href="/blog/?tag={{ tag.name }}"><span class="tag">{{ tag.name }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
            <div class="column is-2-desktop">
                <div class="sidebar__wrapper">
                    <div class="sidebar__widgets">
                        <div class="referral side_widget box on-hover">
                            <a href="https://m.do.co/c/b95c2a8a5568" aria-label="DigitalOcean" rel="noopener">
                                <div class="referral__logo">
                                    <img src="{% static 'svg/do.svg' %}" alt="DigitalOcean" />
                                </div>
                                <p class="referral__content">
                                    This website is hosted on DigitalOcean. Use my referral link for a discount.
                                </p>
                            </a>
                        </div>
                        {% if not debug %}
                        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CVAIKKQM&placement=carbonadsnet" id="_carbonads_js"></script>
                        {% endif %}
                    </div>
                </div>
            </div>
    </section>
    <section class="container recs slide-on-load">
        <div class="columns is-desktop">
            {% for post in recs|slice:":3" %}
            <div class="column">
                <a href="/blog/{{ post.slug }}/" aria-label="{{ post.title }}">
                    <div class="card on-hover">
                        <div class="card-image">
                            <figure class="image">
                                <picture>
                                    {% thumbnail post.image "1024x512" format="WEBP" as webp %}
                                    <source data-srcset="{{ webp.url }}" type="image/webp">
                                    {% endthumbnail %}
                                    {% thumbnail post.image "1024x512" format="JPEG" as jpeg %}
                                    <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                    {% endthumbnail %}
                                    {% thumbnail post.image "128x64" format="JPEG" as jpeg %}
                                    <source srcset="{{ jpeg.url }}" type="image/jpeg">
                                    {% endthumbnail %}
                                    <img class="lazyload blur-up" alt="{{ post.title }}">
                                </picture>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-4">{{ post.title }}</p>
                                <p class="subtitle is-6 article__detail">{{ post.published }} — {{ post.read_time }}
                                    {% if post.read_time > 1 %}mins{% else %}min{% endif %}</p>
                                <p class="summary">{{ post.summary }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% if article.disqus_support %}
    <button id="disqus_button" class="button is-large">
        Load Comments
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px"
            height="24px">
            <path
                d="M2,5v12c0,1.1,0.9,2,2,2h14l4,4L21.99,5c0-1.1-0.89-2-1.99-2H4C2.9,3,2,3.9,2,5z M7,6h10v2H7V6z M7,10h10v2H7V10z M7,14h7 v2H7V14z" />
        </svg>
    </button>
    <section id="disqus_container" class="container article__comments_wrapper disabled_comments">
        <div class="article__comments box">
            <div class="columns is-centered is-desktop">
                <div class="column is-10-desktop is-medium">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = 'https://{{ request.get_host }}{{ request.get_full_path }}';
                            this.page.identifier = '{{ request.get_full_path }}';
                        };

                        (function (document, window, undefined) {

                            'use strict';

                            var commentsButton = document.getElementById('disqus_button');

                            commentsButton.addEventListener('click', function () {

                                var disqusContainer = document.createElement('div'),
                                    disqus_shortname = 'ceiphr',
                                    dsq = document.createElement('script');

                                disqusContainer.setAttribute('id', 'disqus_thread');

                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';

                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName(
                                    'body')[0]).appendChild(dsq);

                                document.body.appendChild(disqusContainer);

                                this.parentNode.removeChild(this);
                                var comment_box = document.getElementById('disqus_container');
                                comment_box.classList.remove('disabled_comments');

                            }, false);

                        })(document, window);
                    </script>
                    <noscript>Please enable JavaScript to view the
                        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                    </noscript>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% if article.latex_support %}
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}
<style type="text/css">
    @media print {

        .hero .subtitle.article__detail,
        .media-content .title {
            font-weight: 400 !important;
            font-size: 20px !important;
        }

        nav,
        .article__cover-image,
        .avatar,
        .card .media,
        .card .title,
        .sidebar__wrapper,
        .article__comments_wrapper,
        #carbonads,
        .recs,
        .cc__icon,
        .tags,
        footer {
            display: none !important;
        }
    }
</style>
{% endblock content %}