{% load static %}
{% load pipeline %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <title>{{ title }} — Ceiphr</title>

    {% comment %} Generic {% endcomment %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

    {% comment %} Disable tap highlight on IE {% endcomment %}
    <meta name="msapplication-tap-highlight" content="no">

    {% comment %} Mobile Google Chrome {% endcomment %}
    <meta name="theme-color" content="#03a9f4" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ceiphr">

    {% comment %} Mobile Safari {% endcomment %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="ceiphr" />

    {% thumbnail logo "512x512" format="PNG" as png %}
    <link rel="apple-touch-icon" href="{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "76x76" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="76x76" href="{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "120x120" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="120x120" href="{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "152x152" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="152x152" href="{{ png.url }}">
    <link rel="apple-touch-startup-image" href="{{ png.url }}" />
    {% endthumbnail %}

    {% comment %} Facebook Meta Tags {% endcomment %}
    <meta property="og:url" content="{{ request.get_full_path }}" />
    <meta property="og:site_name" content="ceiphr" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    {% comment %} Twitter Meta Tags {% endcomment %}
    <meta name="twitter:site" content="@ceiphr" />
    <meta name="twitter:creator" content="@ceiphr">

    {% comment %} Tile icon for Win8 (144x144 + tile color) {% endcomment %}
    {% thumbnail logo "144x144" format="JPEG" as jpeg %}
    <meta name="msapplication-TileImage" content="{{ jpeg.url }}">
    {% endthumbnail %}
    {% thumbnail logo "70x70" format="PNG" as png %}
    <meta name="msapplication-square70x70logo" content="{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "150x150" format="PNG" as png %}
    <meta name="msapplication-square150x150logo" content="{{ png.url }}">
    {% endthumbnail %}
    <meta name="msapplication-TileColor" content="#03a9f4">

    {% comment %} SEO {% endcomment %}
    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}">

    {% comment %} Favicon {% endcomment %}
    {% thumbnail favicon "16x16" format="PNG" as png %}
    <link rel="icon" href="{{ png.url }}" sizes="16x16">
    {% endthumbnail %}
    {% thumbnail favicon "32x32" format="PNG" as png %}
    <link rel="icon" href="{{ png.url }}" sizes="32x32">
    {% endthumbnail %}
    {% thumbnail favicon "152x152" format="PNG" as png %}
    <link rel="icon" href="{{ png.url }}" sizes="152x152">
    {% endthumbnail %}
    {% thumbnail favicon "196x196" format="PNG" as png %}
    <link rel="icon" href="{{ png.url }}" sizes="196x196">
    {% endthumbnail %}

    
    {% if is_article %}
    {% stylesheet 'article-desktop' %}
    {% stylesheet 'article-mobile' %}
    <meta name="description" content="{{ article.summary }}" />
    <meta itemprop="name" content="{{ title }} — Ceiphr">
    <meta itemprop="description" content="{{ article.summary }}" />
    {% thumbnail article.image "1200x600" format="JPEG" as jpeg %}
    <meta itemprop="image" content="{{ jpeg.url }}">
    <meta property="og:image" content="{{ jpeg.url }}">
    {% endthumbnail %}
    <meta property="og:title" content="{{ title }} — Ceiphr" />
    <meta property="og:description" content="{{ article.summary }}" />
    <meta name="twitter:card" content="summary_large_image">
    <script nonce="{{ request.csp_nonce }}" type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ request.get_full_path }}"
            },
            "headline": "{{ title }}",
            "image": [
                {% thumbnail article.image "1920x960" format="JPEG" as jpeg %}
                "{{ jpeg.url }}" 
                {% endthumbnail %}
            ],
            "datePublished": "{{ article.published }}",
            "dateModified": "{{ article.modified }}",
            "author": {
                "@type": "Person",
                "name": "Ari Birnbaum"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Ceiphr",
                "logo": {
                    "@type": "ImageObject",
                    {% thumbnail logo "196x196" format="JPEG" as jpeg %}
                    "url": "{{ jpeg.url }}" 
                    {% endthumbnail %}
                }
            },
            "description": "{{ article.summary }}"
        }
    </script>
    {% else %}
    {% stylesheet 'feed-desktop' %}
    {% stylesheet 'feed-mobile' %}
    <meta name="description" content="{{ desc }}" />
    <meta itemprop="name" content="{{ title }} — Ceiphr">
    <meta itemprop="description" content="{{ desc }}" />
    {% thumbnail avatar "1200x1200" format="JPEG" as jpeg %}
    <meta itemprop="image" content="{{ jpeg.url }}">
    <meta property="og:image" content="{{ jpeg.url }}">
    {% endthumbnail %}
    <meta property="og:title" content="{{ title }} — Ceiphr" />
    <meta property="og:description" content="{{ desc }}" />
    <meta name="twitter:card" content="summary">
    <script nonce="{{ request.csp_nonce }}" type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Ceiphr",
            "url": "https://ceiphr.com",
            "slogan": "Aspiring Web Developer",
            "sameAs": [
                "https://twitter.com/ceiphr",
                "https://www.instagram.com/ceiphr/?hl=en",
                "https://gitlab.com/ceiphr",
                "https://github.com/ceiphr",
                "https://keybase.io/ceiphr",
                "https://twitter.com/ceiphr",
                "https://www.linkedin.com/in/ceiphr/"
            ],
            "logo": {
                "@type": "ImageObject",
                {% thumbnail avatar "1200x1200" format="JPEG" as jpeg %}
                "url": "https://{{ request.get_host }}{{ jpeg.url }}" 
                {% endthumbnail %}
            }
        }
    </script>
    {% endif %}
</head>

<body>
    <nav class="navbar container" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'svg/logo.svg' %}" alt="Ceiphr" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" id="navbar-burger" data-target="navMenu" aria-label="menu"
                aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a href="/blog/" class="navbar-item" aria-label="all articles">
                    All Articles
                </a>
                <a href="/projects/" class="navbar-item" aria-label="my projects">
                    My Projects
                </a>
                <a href="https://changelog.ceiphr.com/" target="_blank" rel="noreferrer" class="navbar-item"
                    aria-label="changelog">
                    Changelog
                </a>
                <a href="{{ resume_url }}" target="_blank" rel="noreferrer" class="navbar-item" aria-label="resume"
                    aria-expanded="false">
                    <div class="button">
                        Resume
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    {% if not error %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/ceiphr" target="_blank" rel="noreferrer" aria-label="GitHub">
                    <img class="icon is-medium" src="{% static "svg/github.svg" %}" alt="GitHub"/>
                </a>
                <a href="https://www.linkedin.com/in/ceiphr/" target="_blank" rel="noreferrer" aria-label="LinkedIn">
                    <img class="icon is-medium" src="{% static "svg/linkedin.svg" %}" alt="LinkedIn"/>
                </a>
                <a href="https://www.instagram.com/ceiphr/" target="_blank" rel="noreferrer" aria-label="Instagram">
                    <img class="icon is-medium" src="{% static "svg/instagram.svg" %}" alt="Instagram"/>
                </a>
                <a href="https://twitter.com/ceiphr/" target="_blank" rel="noreferrer" aria-label="Twitter">
                    <img class="icon is-medium" src="{% static "svg/twitter.svg" %}" alt="Twitter"/>
                </a>
                <br> © 2016 — 2019 Ari Birnbaum (Ceiphr).
                <br> This website's source code is licensed under
                <a href="https://github.com/ceiphr/ceiphr.com/blob/master/LICENSE" aria-label="GNU GPL version 3">GNU
                    GPL v3.0</a>.
            </p>
        </div>
    </footer>
    {% endif %}
    {% javascript 'onload' %}
    {% if not debug %}
    <script nonce="{{ request.csp_nonce }}">
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments)
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1;
            o.src = t;
            o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m)
        })(document, window, '//stats.ceiphr.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'MCJMJ');
        fathom('trackPageview');
    </script>
    {% endif %}
</body>

</html>