{% load static %}
{% load pipeline %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
{% if title == "Ari Birnbaum" %}
    <title>{{ title }}, {{ slogan }} — Ceiphr</title>
{% else %}
    <title>{{ title }} — Ceiphr</title>
{% endif %}

    {% comment %} Generic {% endcomment %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

    {% comment %} Disable tap highlight on IE {% endcomment %}
    <meta name="msapplication-tap-highlight" content="no">

    {% comment %} Mobile Google Chrome {% endcomment %}
    <meta name="theme-color" content="#03a9f4" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ceiphr">

    {% comment %} Mobile Safari {% endcomment %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="ceiphr" />

    {% thumbnail logo "512x512" format="PNG" as png %}
    <link rel="apple-touch-icon" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "76x76" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="76x76" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "120x120" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="120x120" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "152x152" format="PNG" as png %}
    <link rel="apple-touch-icon" sizes="152x152" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    <link rel="apple-touch-startup-image" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}" />
    {% endthumbnail %}

    {% comment %} Facebook Meta Tags {% endcomment %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:site_name" content="ceiphr" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    {% comment %} Twitter Meta Tags {% endcomment %}
    <meta name="twitter:site" content="@ceiphr" />
    <meta name="twitter:creator" content="@ceiphr">

    {% comment %} Tile icon for Win8 (144x144 + tile color) {% endcomment %}
    {% thumbnail logo "144x144" format="JPEG" as jpeg %}
    <meta name="msapplication-TileImage" content="{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}">
    {% endthumbnail %}
    {% thumbnail logo "70x70" format="PNG" as png %}
    <meta name="msapplication-square70x70logo" content="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    {% endthumbnail %}
    {% thumbnail logo "150x150" format="PNG" as png %}
    <meta name="msapplication-square150x150logo" content="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}">
    {% endthumbnail %}
    <meta name="msapplication-TileColor" content="#03a9f4">

    {% comment %} SEO {% endcomment %}
    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}">

    {% comment %} Favicon {% endcomment %}
    {% thumbnail favicon "16x16" format="PNG" as png %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}" sizes="16x16">
    {% endthumbnail %}
    {% thumbnail favicon "32x32" format="PNG" as png %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}" sizes="32x32">
    {% endthumbnail %}
    {% thumbnail favicon "152x152" format="PNG" as png %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}" sizes="152x152">
    {% endthumbnail %}
    {% thumbnail favicon "196x196" format="PNG" as png %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.get_host }}{{ png.url }}" sizes="196x196">
    {% endthumbnail %}

    {% if is_article %}
    {% stylesheet 'article-desktop' %}
    {% stylesheet 'article-mobile' %}
    <meta name="description" content="{{ article.summary }}" />
    <meta itemprop="name" content="{{ title }} — Ceiphr">
    <meta itemprop="description" content="{{ article.summary }}" />
    {% thumbnail article.image "1200x600" format="JPEG" as jpeg %}
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}">
    {% endthumbnail %}
    <meta property="og:title" content="{{ title }} — Ceiphr" />
    <meta property="og:description" content="{{ article.summary }}" />
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ request.get_full_path }}"
            },
            "headline": "{{ title }}",
            "image": [
                {% thumbnail article.image "1920x960" format="JPEG" as jpeg %}
                "{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}"
                {% endthumbnail %}
            ],
            "datePublished": "{{ article.published }}",
            "dateModified": "{{ article.modified }}",
            "author": {
                "@type": "Person",
                "name": "Ari Birnbaum"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Ceiphr",
                "logo": {
                    "@type": "ImageObject",
                    {% thumbnail avatar "1200x1200" format="JPEG" as jpeg %}
                    "url": "{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}"
                    {% endthumbnail %}
                }
            },
            "description": "{{ article.summary }}"
        }
    </script>
    {% else %}
    {% stylesheet 'feed-desktop' %}
    {% stylesheet 'feed-mobile' %}
    <meta name="description" content="{{ desc }}" />
    <meta itemprop="name" content="{{ title }} — Ceiphr">
    <meta itemprop="description" content="{{ desc }}" />
    {% thumbnail avatar "1200x1200" format="JPEG" as jpeg %}
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ jpeg.url }}">
    {% endthumbnail %}
    <meta property="og:title" content="{{ title }} — Ceiphr" />
    <meta property="og:description" content="{{ desc }}" />
    <meta name="twitter:card" content="summary">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Ceiphr",
            "url": "https://ceiphr.com",
            "slogan": "Aspiring Web Developer",
            "sameAs": [
                "https://twitter.com/ceiphr",
                "https://www.instagram.com/ceiphr/?hl=en",
                "https://gitlab.com/ceiphr",
                "https://github.com/ceiphr",
                "https://keybase.io/ceiphr",
                "https://twitter.com/ceiphr",
                "https://www.linkedin.com/in/ceiphr/"
            ],
            "logo": {
                "@type": "ImageObject",
                {% thumbnail avatar "1200x1200" format="JPEG" as jpeg %}
                "url": "https://{{ request.get_host }}{{ jpeg.url }}" 
                {% endthumbnail %}
            }
        }
    </script>
    {% endif %}
</head>

<body>
    <nav class="navbar container" id="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'svg/logo.svg' %}" alt="Ceiphr" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" id="navbar-burger" data-target="navMenu" aria-label="menu"
                aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a href="/blog/" class="navbar-item" aria-label="all articles">
                    All Articles
                </a>
                <a href="/projects/" class="navbar-item" aria-label="my projects">
                    My Projects
                </a>
                <a href="https://changelog.ceiphr.com/" target="_blank" rel="noreferrer" class="navbar-item"
                    aria-label="changelog">
                    Changelog
                </a>
                <a href="{{ resume_url }}" target="_blank" rel="noreferrer" class="navbar-item" aria-label="resume"
                    aria-expanded="false">
                    <div class="button">
                        Résumé
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    {% if not error %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/ceiphr" target="_blank" rel="noreferrer" aria-label="GitHub">
                    <svg class="icon is-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
                        <path d="M10.9,2.1c-4.6,0.5-8.3,4.2-8.8,8.7c-0.5,4.7,2.2,8.9,6.3,10.5C8.7,21.4,9,21.2,9,20.8v-1.6c0,0-0.4,0.1-0.9,0.1 c-1.4,0-2-1.2-2.1-1.9c-0.1-0.4-0.3-0.7-0.6-1C5.1,16.3,5,16.3,5,16.2C5,16,5.3,16,5.4,16c0.6,0,1.1,0.7,1.3,1c0.5,0.8,1.1,1,1.4,1 c0.4,0,0.7-0.1,0.9-0.2c0.1-0.7,0.4-1.4,1-1.8c-2.3-0.5-4-1.8-4-4c0-1.1,0.5-2.2,1.2-3C7.1,8.8,7,8.3,7,7.6c0-0.4,0-0.9,0.2-1.3 C7.2,6.1,7.4,6,7.5,6c0,0,0.1,0,0.1,0C8.1,6.1,9.1,6.4,10,7.3C10.6,7.1,11.3,7,12,7s1.4,0.1,2,0.3c0.9-0.9,2-1.2,2.5-1.3 c0,0,0.1,0,0.1,0c0.2,0,0.3,0.1,0.4,0.3C17,6.7,17,7.2,17,7.6c0,0.8-0.1,1.2-0.2,1.4c0.7,0.8,1.2,1.8,1.2,3c0,2.2-1.7,3.5-4,4 c0.6,0.5,1,1.4,1,2.3v2.6c0,0.3,0.3,0.6,0.7,0.5c3.7-1.5,6.3-5.1,6.3-9.3C22,6.1,16.9,1.4,10.9,2.1z"/>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/ceiphr/" target="_blank" rel="noreferrer" aria-label="LinkedIn">
                    <svg class="icon is-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="000000">
                        <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"/>
                    </svg>
                </a>
                <a href="https://www.instagram.com/ceiphr/" target="_blank" rel="noreferrer" aria-label="Instagram">
                    <svg class="icon is-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="000000">
                        <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"/>
                    </svg>
                </a>
                <a href="https://twitter.com/ceiphr/" target="_blank" rel="noreferrer" aria-label="Twitter">
                    <svg class="icon is-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50" fill="000000">
                        <path d="M22,3.999c-0.78,0.463-2.345,1.094-3.265,1.276c-0.027,0.007-0.049,0.016-0.075,0.023c-0.813-0.802-1.927-1.299-3.16-1.299 c-2.485,0-4.5,2.015-4.5,4.5c0,0.131-0.011,0.372,0,0.5c-3.353,0-5.905-1.756-7.735-4c-0.199,0.5-0.286,1.29-0.286,2.032 c0,1.401,1.095,2.777,2.8,3.63c-0.314,0.081-0.66,0.139-1.02,0.139c-0.581,0-1.196-0.153-1.759-0.617c0,0.017,0,0.033,0,0.051 c0,1.958,2.078,3.291,3.926,3.662c-0.375,0.221-1.131,0.243-1.5,0.243c-0.26,0-1.18-0.119-1.426-0.165 c0.514,1.605,2.368,2.507,4.135,2.539c-1.382,1.084-2.341,1.486-5.171,1.486H2C3.788,19.145,6.065,20,8.347,20 C15.777,20,20,14.337,20,8.999c0-0.086-0.002-0.266-0.005-0.447C19.995,8.534,20,8.517,20,8.499c0-0.027-0.008-0.053-0.008-0.08 c-0.003-0.136-0.006-0.263-0.009-0.329c0.79-0.57,1.475-1.281,2.017-2.091c-0.725,0.322-1.503,0.538-2.32,0.636 C20.514,6.135,21.699,4.943,22,3.999z"/>
                    </svg>
                </a>
                <br> © 2016 — 2019 Ari Birnbaum (Ceiphr).
                <br> This website's source code is licensed under
                <a href="https://github.com/ceiphr/ceiphr.com/blob/master/LICENSE" aria-label="GNU GPL version 3">GNU
                    GPL v3.0</a>.
            </p>
        </div>
    </footer>
    {% endif %}
    {% javascript 'onload' %}
    {% if not debug %}
    <script>
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments)
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1;
            o.src = t;
            o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m)
        })(document, window, '//stats.ceiphr.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'MCJMJ');
        fathom('trackPageview');
    </script>
    {% endif %}
</body>

</html>