{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
{% load pipeline %}
{% load static %}
<section class="feed__cover--large">
    <canvas></canvas>
</section>
<section class="hero is-large is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{ title }}
            </h1>
            <h2 class="subtitle">
                {{ slogan }}
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container slide-on-load">
        {% for article in articles|slice:":10" %}
        <div class="columns">
            <div class="column is-offset-2-widescreen is-8-widescreen">
                <a href="/blog/{{ article.slug }}/" aria-label="{{ article.title }}">
                    <div class="box on-hover feed__article">
                        <div class="feed__body">
                            <div class="feed__info">
                                <p class="title is-4">{{ article.title }}</p>
                                <p class="subtitle is-6 article__detail">{{ article.published }} — {{ article.read_time }}
                                    {% if article.read_time > 1 %}mins{% else %}min{% endif %}</p>
                                <p class="summary">{{ article.summary }}</p>
                            </div>
                        </div>
                        <figure class="feed__image">
                            <picture>
                                {% thumbnail article.image "600x300" format="WEBP" as webp %}
                                <source data-srcset="{{ webp.url }}" type="image/webp">
                                {% endthumbnail %}
                                {% thumbnail article.image "600x300" format="JPEG" as jpeg %}
                                <source data-srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                {% thumbnail article.image "150x75" format="JPEG" as jpeg %}
                                <source srcset="{{ jpeg.url }}" type="image/jpeg">
                                {% endthumbnail %}
                                <img class="lazyload blur-up" alt="{{ article.title }}">
                            </picture>
                        </figure>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% javascript 'fluid' %}
{% endblock content %}