{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
{% load static %}
{% load pipeline %}
{% load markdownify %}
<section class="feed__cover--medium">
    <canvas></canvas>
</section>
<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{ title }}
            </h1>
            <h2 class="subtitle">
                Open Source & Free to Use
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container slide-on-load">
        {% for project in projects %}
        {% if forloop.first or not forloop.counter|divisibleby:2 %}
        <div class="columns">
            <div class="column is-offset-2-widescreen is-4-widescreen">
        {% elif forloop.counter|divisibleby:2 %}
            <div class="column is-4-widescreen">
        {% endif %}
                <a href="{{ project.html_url }}" target="_blank" rel="noreferrer" aria-label="{{ project.name }}">
                    <div class="box on-hover feed__article">
                        <div class="feed__body">
                            <div class="feed__info">
                                <p class="title is-4">{{ project.name }}</p>
                                <p class="subtitle is-6">
                                    {{ project.description }}
                                </p>
                                <p class="stats">
                                    <img class="icon is-small" src="{% static "svg/lang.svg" %}" alt="language"/>{{ project.language }}  
                                    <img class="icon is-small" src="{% static "svg/star.svg" %}" alt="stars"/>{{ project.stargazers_count }} 
                                    <img class="icon is-small" src="{% static "svg/fork.svg" %}" alt="language"/>{{ project.forks_count }}
                                    <img class="icon is-small" src="{% static "svg/license.svg" %}" alt="language"/>{{ project.license.spdx_id }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% if forloop.last or forloop.counter|divisibleby:2 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% javascript 'fluid' %}
{% endblock content %}