Django
gunicorn
sentry-sdk
python-dotenv

# CI/CD
coverage
codecov

# Django Apps
django-compressor
django-cors-headers
django-debug-toolbar
django-otp
django-csp
django-htmlmin
boto
boto3

# Image Processing
sorl-thumbnail
Pillow

# Markdown/Syntax Highlighting
mistune
mistune_contrib
Pygments

# PostgreSQL
psycopg2-binary
qrcode
