Django
gunicorn
sentry-sdk
python-dotenv

# Django Apps
django-pipeline
django-debug-toolbar
django-otp
django-csp
django-htmlmin
python-memcached

# Image Processing
sorl-thumbnail
Pillow

# Markdown/Syntax Highlighting
mistune
mistune_contrib
Pygments

# PostgreSQL
psycopg2-binary
qrcode
