beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
codecov==2.0.15
coverage==4.5.3
Django==2.2.2
django-csp==3.5
django-debug-toolbar==2.0
django-htmlmin==0.11.0
django-otp==0.6.0
django-pipeline==1.6.14
gunicorn==19.9.0 
html5lib==1.0.1
idna==2.8
mistune==0.8.4
mistune-contrib==0.1
Pillow==6.0.0
psycopg2-binary==2.8.3
Pygments==2.4.2
pytz==2019.1
qrcode==6.1
requests==2.22.0
sentry-sdk==0.9.0
six==1.12.0
sorl-thumbnail==12.5.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.25.3
webencodings==0.5.1