@import "base";

@media print {
  nav,
  .article__cover-image,
  .card .media,
  .sidebar__wrapper,
  .share__wrapper,
  .recs,
  footer {
    display: none;
  }
}

.window {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
}

.article__contents {
  overflow-wrap: break-word;

  -ms-word-break: break-word;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  font-size: 16px;

  h1 {
    font-size: 1.8rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.3rem !important;
  }

  h4 {
    font-size: 1.1rem !important;
  }

  h5,
  h6 {
    font-size: 1rem !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1,
  h2 {
    margin-top: 1em;
    margin-bottom: 0.5em
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.5em;
    margin-bottom: 0.25em
  }

  img {
    margin: 1em 0 1em 0;
  }

  blockquote {
    background: $info;
    padding: 1em;
    margin: 1em 0 1em 0;
    border-radius: 6px;
    strong,
    & {
      color: findColorInvert($info);
    }
  }

  ul {
    padding-left: 2em !important;
    li {
      margin-top: 0.5em !important;
      list-style-type: disc !important;
    }
  }

  ol {
    padding-left: 2em !important;
    li {
      margin-top: 0.5em !important;
      list-style-type: decimal-leading-zero !important;
    }
  }
}

.recs {
  .card {
    .image {
      height: 256px;
      img {
        height: 256px !important;
        width: 100%;
      }
    }
  }
}

code {
  color: $info;
}

.highlight {
  margin: 1em 0 1em 0;
  * {
    font-family: $family-code;
  }

  pre {
    border-radius: 6px;
  }
}

.tag {
  margin-right: 0.5em !important;
}

.share__wrapper {
  .button {
    width: 30%;
  }
}

.card {
  border-radius: 6px;
  .summary {
    margin-top: 1em;
  }

  .card-image img {
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.article__cover-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: $dark;
  min-height: 512px;
  max-height: 50vh;

  img {
    filter: brightness(50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.cc__icon {
  position: relative;
  top: 2px;
  margin: 0 2px 0 2px;
}

.blur-up--cover {
  -webkit-filter: blur(5px) brightness(50%);
  filter: blur(5px) brightness(50%);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up--cover.lazyloaded {
  -webkit-filter: blur(0) brightness(50%);
  filter: blur(0) brightness(50%);
}

#carbonads {
  display: block;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

#carbonads a {
  text-decoration: none;
}

.carbon-poweredby,
.referral__footer {
  color: $link !important;
}

#MathJax_Message,
#MathJax_MSIE_Frame {
  display: none;
}
